*{
    margin: 0;
    border: border-box;
}
/* ........hero-section........ */
.hero-section{
    background-image: url(./pic/main_bg.png);
    height: 300px;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-msg{
    background-color: white;
    font-size: 0.85rem;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a{
    color: #007185;
} 

.carousel slide{
    height: 300px;
}
.sectio_bg{
   background-image: url(./pic/section_img.png);
}